<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <h1>All Users</h1>
  <a href="/">Back to Main Page</a>
  <ul>
    <% users.forEach(function(user){ %>
       <h3><%= user.fullname %> </h3><a href="/users/<%= user.id %>">View User</a> <div></div> <a href="/users/<%= user.id %>/edit">Edit User</a> <div></div> <a href="/users/<%= user.id %>/delete">Delete User</a> <div></div><a href="/users/<%= user.id %>/posts">View Posts</a>
    <% }); %>
  </ul>

</body>
</html>

<%# show all users %>
